<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>
		{# Run `composer require symfony/webpack-encore-bundle`
				           and uncomment the following Encore helpers to start using Symfony UX #}
		{% block stylesheets %}
			<link
			rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
			<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/jq-3.2.1/dt-1.10.16/datatables.min.css"/>
		{#{{ encore_entry_link_tags('app') }}#}
		{% endblock %}

		{% block javascripts %}
			{#{{ encore_entry_script_tags('app') }}#}
			<script type="text/javascript" src="https://cdn.datatables.net/v/dt/jq-3.2.1/dt-1.10.16/datatables.min.js"></script>
		{% endblock %}
	</head>
	<body>
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
			<a class="navbar-brand" href="#">Navbar</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarNav">
				<ul class="navbar-nav">
					<li class="nav-item active">
						<a class="nav-link" href="{{path('home')}}">Home</a>
					</li>
					{% if is_granted('ROLE_USER') %}
					<li class="nav-item active">
						<a class="nav-link" href="{{path('user_page')}}">User</a>
					</li>
					{% endif %}
					{% if is_granted('ROLE_ADMIN') %}
					<li class="nav-item active">
						<a class="nav-link" href="{{path('admin_page')}}">admin</a>
					</li>
					{% endif %}
				</ul>
				<ul class="navbar-nav ml-auto">
					{% if not app.User %}
						<li class="nav-item active">
							<a class="nav-link" href="{{path('login')}}">Connexion</a>
						</li>
						<li class="nav-item active">
							<a class="nav-link" href="{{path('inscription')}}">S'inscrire</a>
						</li>
					{% else %}
						<li class="nav-item active">
							<a class="nav-link" href="{{path('logout')}}">Déconnexion</a>
						</li>
					{% endif %}
				</ul>
			</div>
		</nav>
		{% block body %}{% endblock %}
	</body>
</html>
